/* raw colors */
$blue-100: #BBDEFB;
$blue-500: #2196F3;
$blue-700: #1976D2;
$blue-800: #1565C0;

$teal-100: #BBDEFB;
$teal-500: #2196F3;
$teal-700: #1976D2;
$teal-800: #1565C0;
$tealA-100: #A7FFEB;
$tealA-200: #64FFDA;
$tealA-400: #1DE9B6;

$pink-100: #F8BBD0;
$pink-500: #E91E63;
$pink-700: #C2185B;
$pink-800: #AD1457;
$pinkA-100: #FF80AB;
$pinkA-200: #FF4081;
$pinkA-400: #F50057;


$grey-300: #E0E0E0;
$grey-500: #9E9E9E;
$grey-700: #4e4e4e;

$white: #FAFAFA;

/* actual color palette */
/*
$primary-100: $blue-100;
$primary-500: $blue-500;
$primary-700: $blue-700;
$primary-800: $blue-800;

$secondary-100: $pink-100;
$secondary-500: $pink-500;
$secondary-700: $pink-700;
$secondary-800: $pink-800;

$accent-100: $pinkA-100;
$accent-200: $pinkA-200;
$accent-400: $pinkA-400;
*/


/* new actual color palette */

$purple-light: #ae52d4;
$purple: #7b1fa2;
$purple-dark: #4a0072;

$green-light: #AAFFAA;
$green: #77dd77;
$green-dark: #44AA44;

$dark-blue-light: #62efff;
$dark-blue: #00bcd4;
$dark-blue-dark: #008ba3;

$blue-light: #A1E8FF;
$blue: #87CEFA;
$blue-dark: #216894;

$primary-light: $blue-light;
$primary: $blue;
$primary-dark: $blue-dark;

$secondary-light: $dark-blue-light;
$secondary: $dark-blue;
$secondary-dark: $dark-blue-dark;

$font-primary: #ffffff;
$font-secondary: #000000;

$background-color: rgb(37, 36, 52);


/* some sizing constants */

$top-bar-height: 5px;
$total-height: 54px;
$font-size: 28px;

$total-height-small: 65px;
$font-size-small: 27px;

$page-width: 970px;
$nav-width: 220px;


/* bootstrap copy overs */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
header,
menu,
nav,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 200;
  line-height: 1.1;
  color: inherit;
}


/* other constants */
$SPACE: 12px; /* base spacing constant */

h1, h2, h3, h4, h5, h6, p, li {
  @extend .font-white-primary;
}

p, li {
  font-size: 16px;
}

a {
  color: $blue-light;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.card {
  border-radius: 2px;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
}

.image-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.font-black-primary {
  color: #000000;
  opacity: .84;
}

.font-black-secondary {
  color: #000000;
  opacity: 0.54;
}
.font-hint {
  color: #000000;
  opacity: 0.38;
}
.font-white-primary {
  color: #FFFFFF;
  opacity: 1;
}
.font-white-secondary {
  color: #FFFFFF;
  opacity: 0.7;
}

.show-large {
  display: none;
}
@media (min-width: $page-width) {
  .show-large {
    display: block;
  }
}