{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% for post in blog_posts %}
        <div id="blog-container">
            <h1 id="post-title">{{ post.title }}</h1>
            <h4 id="post-date">{{ post.date_created }}</h4>
            <div id="blog-post">{{ post.preview_as_html | safe }}</div>
        </div>

        {% include "misc/spacer.html" %}
    {% endfor %}

{#    <div id="fun-links">#}
{#        <h2>Links</h2>#}
{#        <p>The following is a collection I find useful and/or interesting. I mostly keep them here as a personal reference, but you may find some of these interesting as well.</p>#}
{#    </div>#}

{#    <div id="links-container">#}
{#        {% for link in fun_links %}#}
{#            <div class="link">#}
{#                <a href="{{ link.link }}">{{ link.title }}</a>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

{%  endblock %}
