{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% for post in blog_posts %}
        <div id="blog-container">
            <h1 id="post-title">{{ post.title }}</h1>
            <h4 id="post-date">
                {% if post.witty_subtitle %}{{ post.witty_subtitle }} - {% endif %}
                {{ post.date_created }}
            </h4>
            <div id="blog-post">{{ post.preview_as_html | safe }}</div>
        </div>

        {% include "misc/spacer.html" %}
    {% endfor %}
{%  endblock %}
