{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lucas Simpson</title>

    <!-- favicon -->
    <link rel="icon" href="{% static 'favicons/favicon-32x32.png' %}?v=2" sizes="32x32" type="image/png">

    <!-- bootstrap -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- base css -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- page specific css -->
    {% block style %}{% endblock %}

</head>

<body>

    <!-- side nav part -->
    <div id="side-nav" class="shadow">

        <div id="beautiful-me">
            <img class="image-responsive" src="{% static 'images/calvin_hobbes.jpg' %}">
        </div>

        <div id="icon-links" class="shadow">
            <a id="first" class="icon-link text-center" href="https://github.com/LucasSimpson">
                <img src="{% static 'images/GitHub-Mark-Light-64px.png' %}">
            </a>
            <a id="second" class="icon-link text-center" href="https://www.linkedin.com/in/lucas-simpson">
                <img src="{% static 'images/In-White-34px.png' %}">
            </a>
            <a id="third" class="icon-link text-center" href="#">
                <img src="{% static 'images/globe-128.png' %}">
            </a>
        </div>

        <ul id="nav-links">
            <li><a class="nav-link" href="{% url 'index:index' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'index:work_experience' %}">Work Experience</a></li>
            <li><a class="nav-link" href="{% url 'index:about' %}">About</a></li>
        </ul>

        <footer>
            <p id="email">lucassimpson05@gmail.com</p>
        </footer>
    </div>

    <!-- main content -->
    <div id="scroll-content">

        <!-- Lucas Simpson header part -->
        <div id="header" class="shadow">
            <div id="top-bar"></div>

            <h1>Lucas Simpson</h1>

            <div id="nav-toggle">
                <img id="burger-icon" src="{% static 'images/burger.png' %}">
            </div>

            <div id="bottom-bar"></div>
        </div>

        <!-- spacer for mobile wooot -->
        <div id="header-spacer"></div>

        <!-- actual content -->
        {% block content %}{% endblock %}
    </div>
</body>

<!-- js -->
<script>
    // $(document).ready
    document.addEventListener("DOMContentLoaded", function() {

        console.log("Hello!! :D");

        document.getElementById('burger-icon').addEventListener('click', function() {
            var side_nav = document.getElementById('side-nav');

            if (side_nav.classList.contains('show-nav')) {
                side_nav.classList.remove('show-nav');
            } else {
                side_nav.classList.add('show-nav');
            }
        });

    });

    //GA yaya I know; I like seeing how many hits I get sue me.
    //"ooh but server side hits count" GA is just way to easy to implement,
    //maybe one day I'll switch over.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-91361124-1', 'auto');
    ga('send', 'pageview');
</script>

<!--
    o ""oo    " o o o
   o    "o$    "
   "o    ""   "                                                 $ $o"o$              ""o
 oo$$o        $o" "o                                            "                    " ""
o"            "    o        o$"$$o                                  "               "
"o   o           o         $$$$""$$                             "   o               o                  "
  """ "o       o$"$$  oo $""""o"o$"                             o                 o $        o          o
    "   o      "$$$$$$$"$oo "  $$$o                          oo"$    "           $  $
        $ooooo  $"o       " o$$" o$$oo"                     o $o"  oo$            ""         "         oo"
       """$"$"$$ o$o$"$"o" o$  $$"   " o""                       "$ $                        $        o$ $
      o" o o""oo$$         "o"$o""        o                       ""                      o""$        "o""
     $$$$$$" "o$             o$           o                                               $$ "
    o "    oo"                "           oo
    $  o"$$" o                           o$"$$"oo
    $o$$$" oo$"                         o" $$ o "$o
      "" "$$$"o$       o "                $"$   $$"""oo
                " "  o  o                 $$  o$$$  $$"""ooo
                 $ o$o"""""o   o          "$ "$$o  $o$   oo$$$"oo
                 "o" oo$$$$$   "         "o" "$$ o $o "o$$"o  o "$o
                 "$ o$"$o$$"  o"  "        " "" $o$$o$o$$"$o$$o$o $o
                  "$o$$$$$ o"   o"            $$"$$$"$$"$"" " "o"$o
                      " """                  oo$$oo"""""$$o  "  o$"
                                  o       o$"o   ""$o  o $$o" "
          o                     " o       $"" """ooo"$"$
                                   "      o       o o o$$                      oo      o
           "                      oo              "$$"$o$                     "     o" "
            o                            "         "o   o$             o    "   oo"    "          o" $
          o"$o                    "    "             $ o $o           ""o o"  o "  o  "oo" "  $ ""  $" "
          $oo                         "    o     o oo$"$"$"          o"  $"                    ""  o  $"
                                   $o "    $o    "$  o   $$          $       o  "  o "   " oo$o " o" o
                                    o  """"   "  $  o $o$$$       o  "    "             o  "   "
                                   o"            "$$"""  o$       o"   o   o   "   "            o
                                   "               o  o  $"        "o  o      o  o    "  oo "" ""
                                  o              $o oo $o$o      "    ""  o "       o   "   o o $o
                                 o             "$"$$$"$$$"       $o  o  o        o     o"o""  o" $"
                                o              o "    o $        o o      oo  "     o""   oo"$$ $
                              o                   o "  $"          "" oo "      o    o o$$o$$$"o
            oo " o          o               oo$o$oooo$""            o""" "$$o     o$"$$$ ""$  $o
          o" o    $ oooo   o               $$" """"""$"          oo "     o ""o$o$$$$$$   o$   $
         $  "     "$ "$$$""               o"o$ o o "o"           o $o$$$""$ oo """$o"o ""o"     "o
         $$  o$"  $$$ $o$"             o"  o $$o oo"           """        $    "                 "o
        "           $ o$"            $$$$o    $$$"    oo$""" "o  "   "     $o" """ o              $
           oo      o$ o$""o     o o "   ""$$$$oo"   $"" $"o $o$"   oo""            "              o$o
        o "o$      $oo$o o$"oo"$"$$oo "  o  o$     o$ oo"" ""$ "o                 o"$            o" "$
        "  $"     $"    "oo$$o     ""$""$$$$$$     o""$     $$oo$                o  oo        oo""    $
         "o      o         $ $$o" o  o o$$ "  "o  $o o"    $o" "o                o  "$"""""" $o$ " ooo"
          ""o   o"        o   """"$$"$$$o"     $  o"$o    "$"$$$                 $   $      o"o """" $
              "           oo$  o o oo$$o""     $o$$  $    $$$$$"                $"    $oo o"  o     o
                           ""$$$$$"$         oo $o"$o"     "$o"                   "o ""        $  $o"
                  o  o  o o o"              o" $$ oo"                    o ooo oooo o            "
               """"""""" "$$$$"o   "o    oo$$o$o$$"$ "o o              "  "  "$"$"""""$""o""oo
-->

</html>