{% extends 'base.html' %}
{% load static from staticfiles %}


{% block cssimports %}
    <link href="{% static 'css/index/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <pre>
{
    "name": "Lucas Simpson",
    "current_employer": "Computer Engineering Student @McMaster University",
    "languages": [
        "Python",
        "Java",
        "Javascript",
        "CSS",
        "HTML"
    ],
    "work_experience": [
        {
            "employer": "Amazon",
            "role": "SDE Intern",
            "employment_dates": {
                "start": "June, 2016",
                "end": "August, 2016"
            },
            "skill": ["html", "css", "javascript", "AWS", "python", "statistical methods"]
        },
        {
            "employer": "Amazon",
            "role": "SDE Intern",
            "employment_dates": {
                "start": "June, 2015",
                "end": "August, 2015"
            },
            "skill": ["html", "css", "jquery", "spring", "noSql databases", "AWS"]
        },
        {
            "employer": "Irie Group",
            "role": "Web Developer",
            "employment_dates": {
                "start": "June, 2014",
                "end": "August, 2014"
            },
            "description": "Worked in a small team creating websites that meet customer requirements",
            "skill": ["html", "css", "jquery"]
        }
    ],
    "interests": [
        "coding": [
            "machine learning",
            "distributed systems",
            "web development"
        ],
        "music": [
            "drumming",
            "listening to anything except country"
        ],
        "fitness": [
            "stay active so i can eat whatever i want :)"
        ],
        "gaming": [
            "super smash brothers melee",
            "civilization",
            "factorio",
            "rocket league"
        ]
    ]
}</pre>
        </div>
    </div>

{% endblock %}