{% extends 'alt/base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/index/index.css' %}" rel="stylesheet">
{% endblock %}

{%  block content %}
    <div id="home">

        <h1>Welcome!</h1>
        <p>This is my personal website! The goal of this site is really just for personal reference, and to have something to show off <i class="fa fa-smile-o" aria-hidden="true"></i></p>

        <p>Some details about this site:</p>
        <ul>
            <li>All source code is on my <a href="https://github.com/LucasSimpson">Github <i class="fa fa-external-link" aria-hidden="true"></i></a>, specifically <a href="https://github.com/LucasSimpson/personal_site_frontend">frontend <i class="fa fa-external-link" aria-hidden="true"></i></a> and <a href="https://github.com/LucasSimpson/personal_site">backend <i class="fa fa-external-link" aria-hidden="true"></i></a>.</li>
            <li>Frontend uses <a href="https://angular.io">Angular <i class="fa fa-external-link" aria-hidden="true"></i></a>.</li>
            <li>Most of the CSS is custom; <a href="http://fontawesome.io/">Font Awesome <i class="fa fa-external-link" aria-hidden="true"></i></a> is used for icons, and <a href="http://getbootstrap.com/">Bootstrap <i class="fa fa-external-link" aria-hidden="true"></i></a> is used minimally (pretty much only for fonts and some spacing stuff, I plan on removing it entirely in the future).</li>
            <li>I make good use of <a href="http://sass-lang.com/">Sass <i class="fa fa-external-link" aria-hidden="true"></i></a> for all the CSS.</li>
            <li>The frontend gets most of its content via REST API.</li>
            <li>The backend REST API is powered by <a href="https://www.djangoproject.com/">Django <i class="fa fa-external-link" aria-hidden="true"></i></a>, with the help of the <a href="http://www.django-rest-framework.org/">Django REST Framework <i class="fa fa-external-link" aria-hidden="true"></i></a>.</li>
            <li>The backend uses <a href="http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Introduction.html">DynamoDB <i class="fa fa-external-link" aria-hidden="true"></i></a> as a data source. There is no SQL database attached (I'm cheap; those things are relatively expensive to host).</li>
            <li>This whole site is hosted serverlessly on <a href="http://docs.aws.amazon.com/lambda/latest/dg/welcome.html">AWS Lambda <i class="fa fa-external-link" aria-hidden="true"></i></a>, and I use <a href="https://www.zappa.io/">Zappa <i class="fa fa-external-link" aria-hidden="true"></i></a> for easy deploying.</li>
            <li>API calls and responses are logged.</li>
        </ul>

        <p>Questions or comments? Let me know at lucassimpson05@gmail.com <i class="fa fa-envelope-o" aria-hidden="true"></i></p>
    </div>

    <div id="fun-links" class="shadow">
        <h2>Links</h2>
        <p>The following is a collection I find useful and/or interesting. I mostly keep them here as a personal reference, but you may find some of these interesting as well.</p>
    </div>

    <div id="links-container">
        <div class="link" *ngFor="let link of fun_links">
            <a href="{{ link.link }}">{{ link.title }}<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>

{%  endblock %}
