{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lucas Simpson</title>

    <!-- favicon -->
    <link rel="icon" href="{% static 'favicons/favicon-32x32.png' %}?v=2" sizes="32x32" type="image/png">

    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- base css -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- page specific css -->
    {% block style %}{% endblock %}

</head>
<body>

    <!-- side nav part -->
    <div id="side-nav" class="shadow">

        <div id="beautiful-me">
            <img class="image-responsive" src="{% static 'images/me.jpeg' %}">
        </div>

        <div id="icon-links" class="shadow">
            <a id="first" class="icon-link text-center" href="https://github.com/LucasSimpson"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></i></a>
            <a id="second" class="icon-link text-center" href="https://www.linkedin.com/in/lucas-simpson"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
            <a id="third" class="icon-link text-center" href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></i></a>
        </div>

        <ul id="nav-links">
            <li><a class="nav-link" href="{% url 'alt:index' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'alt:index' %}">Work Experience</a></li>
            <li><a class="nav-link" href="{% url 'alt:index' %}">Logs</a></li>
        </ul>

        <footer>
            <p id="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> lucassimpson05@gmail.com</p>
        </footer>
    </div>

    <!-- main content -->
    <div id="scroll-content">

        <!-- Lucas Simpson header part -->
        <div id="header" class="shadow">
            <div id="top-bar"></div>
                <h1>Lucas Simpson</h1>
            <div id="nav-toggle" class="fa fa-bars" aria-hidden="true" (click)="toggleSideNav()"></div>
        </div>

        <!-- spacer for mobile wooot -->
        <div id="header-spacer"></div>

        <!-- actual content -->
        <div class="shadow">
            {% block content %}{% endblock %}
        </div>

    </div>
</body>

<!-- font awesome
<script async src="https://use.fontawesome.com/3881fe50ef.js"></script>
-->

</html>