{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/blog/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="blog-container">

        <p id="archive-link"><a href="{% url 'blog:posts-list' %}"><< Archive</a></p>

        <h1 id="post-title">{% block title %}{% endblock %}</h1>

        <h4 id="post-date">{% block date %}{% endblock %}</h4>

        <div id="blog-post">{% block post %}{% endblock %}</div>
    </div>
{% endblock %}
