{% extends 'blog/blog_base.html' %}

{% block title %}
    Social Arguer
{% endblock %}

{% block date %}
    May 28, 2019
{% endblock %}

{% block post %}
    <p>
        I’ve noticed that, for any given argument, there’s two core approaches: you can argue <i>who</i> is right,
        or you can argue <i>what</i> is right.
    </p>

    <p>
        Arguing <i>what</i> is right is the rational act of finding out which base priors parties disagree on.
        This involves discussion of why each party believes what they believe, what support they have for said beliefs,
        and figuring out what information both parties are missing.
    </p>

    <p>
        Arguing <i>who</i> is right is the egotistical art of trying to look like the victor.
        This involves pointing out the other parties flaws, focusing on trivial mistakes the other party might
        have made, getting other parties on your side via humor/charisma, and maintaining an iron curtain of
        absolute confidence the whole way through.
    </p>

    <p>
        It’s been my lived experience that most people only know how to do one of the two, and that they are
        totally oblivious to the other. This has been, and I'm sure will continue to be, a major source of communication
        error amongst communities. For the continuation of this article, I will refer to arguing <i>who</i> is right
        as <i>social</i> arguing, and to arguing <i>what</i> is right as <i>truth</i> arguing.
    </p>

    <p>
        I should point out that there’s a time and place for both, depending on ones goal. Both truth and social
        arguing, when done well, involve an incredible amount of skill and experience, and are highly useful in
        their own way. It’s not easy to detach your ego from your belief and truly pursue <i>what</i> is right;
        likewise it takes a ton of social acumen and street cred to repeatedly successfully argue
        that <i>you</i> are right.
    </p>

    <p>
        Social arguing is excellent at reaching consensus for consensus sake. Given a couple of options that
        are all roughly equal, and a team stuck in analysis paralysis, social arguing is incredibly useful for
        getting things done. Pick any option, argue socially to get everyone to agree with you, and bam you
        r team can move on.
    </p>

    <p>
        Truth arguing is best for finding a root cause or an objectively best answer. Given a couple of
        different options for any given problem, truth arguing can help narrow your search by quickly
        invalidating certain solutions.
    </p>

    <p>
        This model is highly useful; learning to recognize the two types of arguing can vastly help you resolve
        arguments within your team, and it can help you realize how best to argue against someone else.
        Recognize that the truth arguer only cares about the final result, whereas the social arguer only cares
        about feeling like they won. These two can both go hand in hand, the growing ego of the
        social arguer notwithstanding.
    </p>

    <p>
        From a management perspective, it shows that any hard decision is most likely best made by a group of
        mixed types of people. The truth arguers will quickly narrow down the selection to options whose
        differences are small, the social arguers can latch on any good ideas thrown out for their own
        benefit to drive consensus.
    </p>

    <p>
        It should be pointed out that this won’t always be perfect; a group of inept truth arguers may not
        ever reach consensus. Likewise, equally matched social arguers will only ever get mad at each other.
        Any argument with a mix may just lead to both groups thinking the other group is a colossal moron.
        Learning to recognize the two types of arguing can vastly help you resolve these dead-end arguments.
        Recognize that the truth arguer only cares about the final result, whereas the social arguer only
        cares about feeling like they won. These two can both go hand in hand,
        the growing ego of the social arguer notwithstanding.
    </p>

    <p>
        Ultimately, the goal should be to know both. Know when to use one over the other. It
        could be the difference between a solid working group, and a totally defective one.
    </p>
{% endblock %}
