@import '../global.scss';

#blog-container {

    margin: 64px auto;
    padding: 0 26px;

    max-width: 900px;

    #post-title {
        margin-top: 8px;
    }

    #post-date {
        margin-top: -12px;
        margin-bottom: 28px;
        color: grey;
    }

    #blog-post {
        margin-top: 12px;

    }
}
