@import '../global.scss';

#blog-container {

    margin: 64px auto 0 auto;
    padding: 0 $SPACE;

    #post-title {
        margin-top: 8px;
    }

    #post-date {
        margin-top: -12px;
        margin-bottom: 28px;
        @extend .font-white-secondary;
    }

    #blog-post {
        margin-top: 12px;
    }
}
